/*Menu icon*/
#mibix_yamexport_menu_icon {background-image:url(icons/mibix.yamexport/menu.gif);}
#mibix_yamexport_page_icon {background-image:url(icons/mibix.yamexport/title.gif);}

.mibix_yamexport_menu_icon {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image:url(icons/mibix.yamexport/menu.png) !important;
}
.mibix_yamexport_page_icon {
    background-position:  center !important;
    background-repeat: no-repeat !important;
    background-image:url(icons/mibix.yamexport/title.png) !important;
}
.aDelete
{
    margin:5px;
    text-decoration:underline;
    cursor:pointer;
    color:#2747BF;
}
.dAdded
{
    margin-top:10px;
}