/*Menu icon*/
#mibix_battle_menu_icon {background-image:url(icons/mibix.battle/menu.gif);}
#mibix_battle_page_icon {background-image:url(icons/mibix.battle/title.gif);}

.mibix_battle_menu_icon {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image:url(icons/mibix.battle/menu.png) !important;
}
.mibix_battle_page_icon {
    background-position:  center !important;
    background-repeat: no-repeat !important;
    background-image:url(icons/mibix.battle/title.png) !important;
}
.aDelete
{
    margin:5px;
    text-decoration:underline;
    cursor:pointer;
    color:#2747BF;
}
.dAdded
{
    margin-top:10px;
}