.mbx-panel.panel-battle-simple {
    border-color: #337ab7;
}
.mbx-panel .panel-battle-heading {
    color: #fff;
    background-color: #337ab7;
    border-bottom: 1px solid #337ab7;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td {
    border: 1px solid #337ab7;
}

.mbx-panel .panel-battle-body .panel-battle-body-item-td .header {
    border-bottom: #337ab7;
    background-color: #337ab7;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td h2 {
    color: #fff;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td .block-bottom-table {
    border-top: 1px solid #337ab7;
    background-color: #f3f9ff;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:hover,
.btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
}