.mbx-panel.panel-battle-simple {
    border-color: #faebcc;
}
.mbx-panel .panel-battle-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-bottom: 1px solid #faebcc;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td {
    border: 1px solid #faebcc;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td .header {
    border-bottom: #faebcc;
    background-color: #fcf8e3;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td h2 {
    color: #8a6d3b;
}
.mbx-panel .panel-battle-body .panel-battle-body-item-td .block-bottom-table {
    border-top: 1px solid #faebcc;
    background-color: #fbfaf1;
}
.btn-primary {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:hover,
.btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:hover {
    background-color: #f0ad4e;
    border-color: #eea236;
}